<div id="LeftMenu">
<ul id="RightSideList">
<li>Editing ID: <%= @source_experiment.id%></li>
<li><%= link_to "Back to Edit Experiment", {:controller=>"experiments", :action=>"edit", :id=> @source_experiment.id} %></li>
</ul>
</div>