<p>Hi!</p>
<p>
Please use the following link to start your deposition of SAXS data in BioIsis. You will be prompted for username and password.
</p><p>
<%= @link %></p>
<p>
This link will remain active until you are finished or until one week has passed from <%= @start_date %>.
</p>
<p>
During submission, you may wish to save your current submission at which point a new link will be emailed to you. In addition, this email contains an attachment describing the information required for a successful deposit.   
</p>
<p>
Thanks,
</p><p>
Rob Rambo, Ph.D.</p>