<div class="welcometitle"><%= "#{@tag.upcase}" %>
<span class="tutorial_small_text">... by Robert P. Rambo
</span>
</div>

<p class="about">
We use a drag-n-drop method for loading files into Sc&#8491;tter. Click on the Files tab (black arrow Figure 1). You will see 4 panels and each panel corresponds to a collection. Simply drag and drop the dat file into a panel (Figure 1) to load the data.
</p>
<b>Figure 1 |</b><br><%= image_tag('file_tab_1.png') %>
<p class="about">
Sc&#8491;tter can manage a large number of data files. You can add a note to each collection typing in the "box" (green arrow). Different collections can be selected by clicking on the appropriate radio button below the select panel.  
</p>
<ul>
	<li class="red_text">If your data was collected in nm<sup>-1</sup>, you can have Sc&#8491;tter automatically convert the file to inverse &#8491; by selecting the checkbox at the bottom left. Uncheck before dropping in more datafiles for data collected in inverse &#8491;
</ul>

<p class="about">Individual dat files can be removed from a collection by using the list of files on the left. Simply click on the check box next to the file name and hit "Remove" to remove the file. </p>
<p class="about" align="left">
Sc&#8491;tter will store the information between collections meaning R<sub>g</sub> or Volume determinations from a dataset in collection 1 (Panel 1) will not be wiped out when switching to another collection. To clear all the datasets and analysis, use the clear button below each panel.  
</p>


