<div class="welcometitle"><%= "#{@tag.upcase}" %>
<span class="tutorial_small_text">
</span>
</div>
<p class="about">
Thank you for downloading Scatter.  Please see our tutorials for help on using Scatter.  	
</p>
<p class="about">
Scatter is actively developed and updated often. You can check for updates at Bioisis.net or be notified by our email.
</p>
