<% content_for :left do %>
  <%= render :partial => "left_side_menu" %>
<% end -%>


<table>
<tr><td>
<div class="welcometitle">Tutorial</div>

<p class="about">The information contained within this tutorial is introductory material aimed at new and general users of biological SAXS. Our goal is to remove the mystery of SAXS and provide some concrete examples for quantitive analysis of SAXS data quality.    </p>

<p class="about">
We present methods for data reduction and basic analysis using the program SC&Aring;TTER developed at the SIBYLS Beamline at LBNL (Berkeley CA) and PRIMUS developed at EMBL. 
SC&Aring;TTER is a JAVA-based application designed for OSX, Linux, and Windows and requires JAVA Runtime Environment (JRE) 1.6 or greater.
</p>

<p class="about">
The menu items (on the left) are arranged as steps that one would typically take during the analysis of data.
</p>

</td>
</tr>

</table>