
<table class="RightMenu_Details">

<tr><th align="center"><p id="RightTitle">General Information</p></th></tr>

<tr><th><%= nice_date(DateTime.now) %></th></tr>

<tr><td>BIOISIS contains <%=  number_with_delimiter(@total_genes) %> genes covering <%= @total_organisms %> different organisms.</td></tr>
<tr><td>We currently have <%= @total_SAXS %> structures.</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>

</table>

