<p id="RightTitle">Use RedCloth Markup for Formatting Text</p>
<p>Italics: _word_</p>
<p>Def: RNA(ribonucleic acids)</p>
<p>h1. This is a heading</p>
<p>h2. another heading</p>
<p>bq. block quote</p>
<p>for more info: <%= link_to 'RedCloth', "http://redcloth.org/textile" %></p>