<% content_for :left do %>
  <%= render :partial => "left_side_menu" %>  
<% end -%>
<h1>Deposit Successful</h1>

<p>Thank you for your deposit of BID: <%= @submission.bioisis_id %>. An email has been sent to you confirming deposition.  Your deposit is pending till final approval by a reviewer. </p> <p>Please note that you will not be able to edit the submission any further. If you have questions, please email robert _ p _ rambo (at) hotmail . com  </p>

Thanks,
<br/>
Robert P. Rambo, Ph.D.