<div id="LeftMenu">
<ul id="RightSideList">
	<li><a href="#BasicInformation">Basic Information</a></li>
	<li><a href="#ExperimentalConditions">Experimental Conditions</a></li>
	<li><a href="#SAXSParameters">Experimental SAXS Parameters</a></li>
	<li><a href="#SampleDetails">Sample Details</a></li>
	<li><a href="#Authors">Authors</a></li>
	<li><a href="#Dammin">Model(s)</a></li>	
<li><a href="#Update">Update Experiment</a></li>
<li><%= link_to "Back", {:controller=>"experiments", :action=>"admin_list"} %></li>
</ul>
</div>