<div id="LeftMenu">
<ul id="RightSideList">
<li><%= link_to "New Structures", {:controller=>"experiments", :action=>"index"} %></li>
<li><%= link_to "Hypothetical Proteins", {:controller=>"experiments", :action=>"filter", :id=>"2"} %></li>
<li><%= link_to "RNA Related", {:controller=>"experiments", :action=>"filter", :id=>"3"} %></li>
<li><%= link_to "Random", {:controller=>"experiments", :action=>"filter", :id=>"1"} %></li>
</ul>
</div>