<p style="text-align:justify"><span class="darkred_text ">No structural model was used to interpret the SAXS data, please read the following:</span></p>
<p style="text-align:justify" class="about"><%= @experiment.description %></p>