<table class="RightMenu_Details">
        <tr><th colspan="2" align="center"><p id="RightTitle">About</p></th></tr>

        <tr>
        <th colspan="2">
            <%= nice_date(DateTime.now) %>
        </th>
        </tr>
<tr><td><p>
For questions about the website or data submission, please contact:</p>
<p>
Robert P. Rambo, Ph.D.<br />Diamond Light Source<br />Didcot, OX12ODE UK</p>
</td></tr>
</table>
